html {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: space-between;
}

.section-one {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-header, .container-content {
    display: flex;
    width: 77%;
    padding: 32px;
}

.container-header {
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    text-decoration: none;
}

.container-content {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    padding: 50px 0 100px 0;
}

.container-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 50%;
    gap: 8px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 1000;
    color: #F9FAF8;
}

.hero-secondary-text, a {
    font-size: 18px;
    color: #E5E7EB;
}

.btn {
    background-color: #3882F6;
    color: #E5E7EB;
    border: none;
    border-radius: 5px;
    padding: 8px;
    margin-top: 3px;
    max-width: 20%;
}

.container-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    border: solid grey 1px;
    background-color: grey;
}

.img {
    color: white;
}

.section-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 36px;
}

.container-random-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.random-info-title {
    padding: 24px;
}

.random-info-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.container-gallery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 9px;
}

.gallery-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 150px;
    gap: 7px;
}

.gallery-pic {
    height: 100px;
    width: 100px;
    border: 1px solid blue;
    border-radius: 7px;
}

.gallery-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-content {
    font-size: 13px;
    text-align: center;
    padding: 2px;
}

.section-three {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-container {
    display: flex;
    flex-direction: column;
    gap: 11px;
    padding: 54px 0 54px 0;
}
.quote-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.quote-author {
    text-align: right;
    font-weight: bolder;
}